.nav {
  height: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.list {
  display: flex;
  align-items: center;
  height: 100%;
}

.item {
  height: 100%;

  &:not(:last-child) {
    margin-right: 30px;

    @media (max-width: 1024px) {
      margin-right: 27px;
    }
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 24px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
