.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}

.body{
    background-color: rgba(246, 246, 246, 1);
    height: 100vh;
}