.home {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 width: 1400px;
 margin: 0 auto;
}

.greeting {
    margin-bottom: 10%;
}
