.entrance_button{
    width: 150px;
    height: 55px;
    font-size: 21px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}