.form_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
 .login_button{
    color: #e0e0e0;
    background: #222;
    width: 230px;
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 30px;
 }
 .some_form{
    text-align: center; 
     margin-bottom: 20px;
     padding-top: 50px;
     h3{
         font-size: 21px;
         color: black;
     }
 }
 .some_input {
     display: block;
     width: 250px;
     height: 40px;
     margin: 15px;
     padding-left: 10px;
     font-size: 18px;
     line-height: 1.5;
     color: #212529;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #bdbdbd;
     border-radius: 0.25rem;
     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }